<div id="links">
  <a id="expand-btn" href="">>></a>
  <div id="links-expand">
    <%= link_to "Schedules", plugin_service_master_index_path %>
    <%= link_to "Employees", plugin_service_master_employee_list_path %>
    <%= link_to "Customers", plugin_service_master_customer_list_path %>
    <% if current_user.customer_admin? %>
      <%= link_to "AoD",     plugin_service_master_settings_path %>
    <% else %>
      <a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
    <% end %>
  </div>
  <%= link_to "Home", home_dashboard_path, id: "home-btn" %>
</div>

