<div id="sched-popup">
  <div>
    <%= label_tag :start_time %>
    <%= text_field_tag :start_time %>
  </div>
  <div>
    <%= label_tag :end_time %>
    <%= text_field_tag :end_time %>
  </div>
  <div>
    <%= label_tag :activity %><br>
    <%= select_tag :activity, options_for_select(@activities.map { |a| [ a.wg_name, a.wg_num ] }), prompt: "Select Activity" %>
  </div>
  <br>
  <div id='ok-btn' class="button right">OK</div>
  <div id='close-btn' class="button left">Cancel</div>
</div>