<div id="sched-popup">
  <form id="form-popup">
    <% if editing_customer %>
      <div>
        <%= label_tag :sch_wg3, 'Customer' %>
        <%= select_tag :sch_wg3, options_for_select(@customers.map { |a| [ a.wg_name, a.wg_num ] }), prompt: "Select Customer" %>
      </div>
      <br>
    <% end %>
    <div>
      <%= hidden_field_tag :schid %>
      <%= hidden_field_tag :filekey %>
      <%= hidden_field_tag :sch_date %>
    </div>
    <div>
      <%= label_tag :sch_start_time, 'Start Time' %>
      <%= text_field_tag :sch_start_time %>
    </div>
    <div>
      <%= label_tag :sch_end_time, 'End Time' %>
      <%= text_field_tag :sch_end_time %>
    </div>
    <div>
      <%= label_tag :sch_wg5, 'Activity' %>
      <%= select_tag :sch_wg5, options_for_select(@activities.map { |a| [ a.wg_name, a.wg_num ] }), prompt: "Select Activity" %>
    </div>
    <br>
    <% if editing_customer %>
      <input type="submit" id='save-sched-btn' value="OK">
      <input type="submit" id='close-sched-btn' value="Cancel">
      <input type="submit" id='delete-sched-btn' value="Delete">
    <% else %>
      <input type="submit" id='save-cust-sched-btn' value="OK">
      <input type="submit" id='close-cust-sched-btn' value="Cancel">
      <input type="submit" id='delete-cust-sched-btn' value="Delete">
    <% end %>
  </form>
</div>