<div class="plugin-service-master">  

  <header>
    <h1>Customers</h1>
    <%= render partial: 'links' %>
  </header>
  
  <main>
    <div id="list-wrapper">
      <%= select_tag "list[]", options_from_collection_for_select(@customers, "wg_num", "wg_name"), multiple: true, id: 'customer-list', class: 'list-box column' %>
      <a class="view-btn column" href="#" onclick="getCustomer()">View Customer</a>
      <div id="cust-wrapper" class="shrink-wrap login column">
        <h3 id="cust-name"></h3><br>
        <form class="popup-owner-js" action="save_customer" method="post">
          <div>
            <%= label_tag :wg_name, 'Name' %>
            <%= text_field_tag :wg_name %>
          </div>
          <br>
          <h4>Customer Pattern</h4>
          <table>
            <thead>
              <tr>
                <th class="sched">Monday</th>
                <th class="sched">Tuesday</th>
                <th class="sched">Wednesday</th>
                <th class="sched">Thursday</th>
                <th class="sched">Friday</th>
                <th class="sched">Saturday</th>
                <th class="custtotal">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr class="newemp">
                <td class="sched">&nbsp;</td>
                <td class="sched">&nbsp;</td>
                <td class="sched">&nbsp;</td>
                <td class="sched">&nbsp;</td>
                <td class="sched">&nbsp;</td>
                <td class="sched">&nbsp;</td>
                <td class="custtotal">&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <br>
          <input type="submit" value="Save Customer">

          <%= render :partial => "sched_popup" %>
        </form>
      </div>
    </div>
  </main>
</div>

<%= render :partial => "scripts" %>
