<div class="plugin-service-master">  

  <header>
    <%= render partial: 'links' %>
  </header>

  <main>
    <h2 id="emp-name">&nbsp;</h2><br>
    <div class="list-label">Employee: </div>
    <%= select_tag :employee, 
        options_from_collection_for_select(
        @employees, "emp_id", "fullname"), 
        id: 'employee-list' %> 
    <br>
    <div id="emp-wrapper" class="shrink-wrap login">
      <h4>Team Assignments</h4>
      <div id="team-assignments">
      </div>
    </div>
    <div class="shrink-wrap login">
      <form id="assign-form">
        <%= hidden_field_tag :emp_id %>
        <input id="assign-btn" type="submit" 
         value="Assign to Team">
        <div>
          <%= select_tag :pattern_id, 
              options_from_collection_for_select(
              @patterns, "id", "customer_team_name"), 
              id: 'pattern-list' %>
        </div>
      </form>
    </div>
  </main>
</div>

<%= render partial: 'scripts' %>

<script>
  //--------------- Functions ---------------

  function getEmployee() {
    var params = { emp_id : $('#employee-list').val() };

    $.get('get_employee', params, function(data) {
      employee = data[0].psvm_emp;
      patterns = data[1];
      $('#team-assignments').empty();

      if (patterns.length === 0) {
        $('#team-assignments').append(
          "<div>None</div>");
      } else {
        $.each(patterns, function() {
          $('#team-assignments').append(
            "<div class='emp-pattern'>" + 
            this.psvm_pattern.customer_team_name +
            "<div class='delete-emp-pattern' pattern-id='" + 
            this.psvm_pattern.id + 
            "'>&nbsp;X</div></div>");
        });
      }
      $('#emp_id').val(employee.emp_id);
      $('#emp-name').html(employee.fullname);
    });
  }

  //--------------- Events ---------------

  // Select employee from list
  $('#employee-list').change(function() {
    getEmployee();
  });

  // Assign pattern button
  $('#assign-form').submit(function(event) {
   
    // Submit form
    event.preventDefault();
    $.get('assign_pattern', $(this).serialize(), function() {
      getEmployee();
    });
  });

  // Delete emp pattern button
  // These are delegated to their parent: #team-assignments, 
  // as the delete emp pattern buttons are dynamically 
  // appended after the DOM has been loaded
  $('#team-assignments').on('click', 
    '.delete-emp-pattern', function() {
    var params = { 
      emp_id     : $('#emp_id').val(),
      pattern_id : $(this).attr('pattern-id') 
    };

    $.get('delete_emp_pattern', params, function() {
      getEmployee();
    });
  });

  // Select first employee on page load
  $(document).ready(function() {
    $("#employee-list option:first").attr('selected','selected');
    getEmployee(); 
  });

</script>