<div class="plugin-service-master">  

  <header>
    <h1>Employees</h1>
    <%= render partial: 'links' %>
  </header>

  <main>
    <div id="list-wrapper">
      <%= select_tag "list[]", options_from_collection_for_select(@employees, "emp_id", "fullname"), multiple: true, id: 'employee-list', class: 'list-box column' %>
      <div id="view-emp-btn" class="column">View Employee</div>
      <div id="emp-wrapper" class="shrink-wrap login column">
        <h3 id="emp-name"></h3><br>
        <form id="emp-form" action="save_employee" method="post">
          <%= hidden_field_tag :emp_id %>
          <div>
            <%= label_tag :first_name %> &nbsp;
            <%= text_field_tag :first_name %>
          </div>
          <div>
            <%= label_tag :last_name %> &nbsp;
            <%= text_field_tag :last_name %>
          </div>
          <label>Customers Assigned To:</label>
          <div id="customers-assigned">
            <label>(None)</label>
          </div>
          <div id="cust-scroll-box">
            <% PsvmWorkgroup.where("wg_level = 3").order("wg_name").each do |workgroup| %>
              <div class="checkbox-wrapper">
                <%= check_box_tag "[psvm_workgroup_ids][]", workgroup.id, false, id: dom_id(workgroup) %>
                <%= label_tag dom_id(workgroup), workgroup.wg_name %>
              </div>
            <% end %>
          </div>
          <br>
          <input id="save-btn" type="submit" value="Save Employee">
        </form>
      </div>
    </div>
  </main>
</div>

<%= render partial: 'scripts' %>
