<div class="plugin-service-master">  

  <header>
    <%= link_to "<", plugin_service_master_prev_week_path %>
    <div class="daterange">
      <%= @startdate.strftime '%b %d' %> - 
      <%= @enddate  .strftime '%b %d' %>
    </div>
    <%= link_to ">", plugin_service_master_next_week_path %>
    <%= render partial: 'links' %>
    <div id="cust-filter-wrap">
      <%= label_tag :cust_filter, 'Customer' %>
      <%= select_tag :cust_filter, options_for_select(@customers.map { |a| [ a.wg_name, a.wg_num ] }, @cust_filter), prompt: "Select Customer" %>
    </div>
  </header>

  <main>
    <table class="popup-owner-js">
      <thead>
        <tr>
          <th class="name">Name</th>
          <th class="cust">Customer</th>
          <th class="sched">Monday</br><%= (@startdate + 0.days).strftime('%-m/%-d') %></th>
          <th class="sched">Tuesday</br><%= (@startdate + 1.days).strftime('%-m/%-d') %></th>
          <th class="sched">Wednesday</br><%= (@startdate + 2.days).strftime('%-m/%-d') %></th>
          <th class="sched">Thursday</br><%= (@startdate + 3.days).strftime('%-m/%-d') %></th>
          <th class="sched">Friday</br><%= (@startdate + 4.days).strftime('%-m/%-d') %></th>
          <th class="sched">Saturday</br><%= (@startdate + 5.days).strftime('%-m/%-d') %></th>
          <th class="custtotal">Cust.</br>Total</th>
          <th class="emptotal">Emp.</br>Total</th>
          <th class="outside"></th>
        </tr>
      </thead>
      <% @v.emp_weeks.each_with_index do |ew, index| %>
        <tr <%= raw 'class="even"' if index.even? %>>
          <td class="name" rowspan="<%= ew.cust_weeks.count + 1 %>">
            <%= "#{ ew.employee.first_name } #{ ew.employee.last_name }" %>
          </td>
          <td class="flattened" colspan="8"></td>
          <td class="emptotal" rowspan="<%= ew.cust_weeks.count + 1 %>">
            <%= ew.total_hours.round(2) %>
          </td>
          <td class="overlimit outside" rowspan="<%= ew.cust_weeks.count + 1 %>">
            <%= ew.exceptions %>
          </td>
        </tr>
        <% ew.cust_weeks.each do |cw| %>
          <tr <%= raw 'class="even"' if index.even? %>>
            <td class="cust"><%= "#{ cw.customer.wg_name }" %>&nbsp;</td>
            <td <%= raw generate_td_attr(cw.day1) %>> <%= raw generate_td_content(cw.day1) %></td>
            <td <%= raw generate_td_attr(cw.day2) %>> <%= raw generate_td_content(cw.day2) %></td>
            <td <%= raw generate_td_attr(cw.day3) %>> <%= raw generate_td_content(cw.day3) %></td>
            <td <%= raw generate_td_attr(cw.day4) %>> <%= raw generate_td_content(cw.day4) %></td>
            <td <%= raw generate_td_attr(cw.day5) %>> <%= raw generate_td_content(cw.day5) %></td>
            <td <%= raw generate_td_attr(cw.day6) %>> <%= raw generate_td_content(cw.day6) %></td>
            <td class="custtotal"><%= cw.total_hours.round(2) %></td>
          </tr>
        <% end %>
      <% end %>
      <%= render partial: "sched_popup", locals: { editing_customer: true } %>
    </table>
    <%= link_to "Generate Schedules", plugin_service_master_generate_scheds_path, class: 'button gen-btn' %>
    <br>
    <%= render "shared/spinner" %>
  </main>
</div>  

<%= render partial: "scripts" %>

<!-- Scripts -->
<script>

  // Init progress bar
  var progressbar = $( "#progress-bar" );
  var progressLabel = $( "#progress-label" );
  
  progressbar.progressbar({
    value: 0,
    change: function() {
      progressLabel.text( progressbar.progressbar( "value" ) + "%" );
    },
    complete: function() {
      progressLabel.text( "Complete!" );
    }
  });

  // Get the latest employees and workgroups from AoD
  // in the background
  // $.get('import_employees');
  // $.get('import_workgroups');

</script>


