<div class="plugin-service-master">  

  <header>
    <%= render partial: 'links' %>
  </header>
  
  <main>
    <h2 id="team-name">&nbsp;</h2><br>
    <div class="list-label">Team: </div>
    <%= select_tag "list[]", 
        options_from_collection_for_select(
        @teams, "wg_num", "wg_name"), 
        id: 'team-list' %> 
    <br>
    <div id="team-wrapper" class="shrink-wrap login">
      <form id="team-form">
        <div>
          <%= label_tag :wg_num, 'Number' %> &nbsp;
          <%= text_field_tag :wg_num %>
        </div>
        <div>
          <%= label_tag :wg_code, 'Code' %> &nbsp;
          <%= text_field_tag :wg_code %>
        </div>
        <div>
          <%= label_tag :wg_name, 'Name' %> &nbsp;
          <%= text_field_tag :wg_name %>
        </div>
        <br>
        <div id="delete-team-btn" class="submit-btn">
          Delete</div>
        <input id="save-team-btn" type="submit" value="Save Team">
      </form>
    </div>
    <div class="shrink-wrap login">
      <form>
        <input id="create-team-btn" type="submit" 
         value="Create Team">
      </form>
    </div>
  </main>
</div>

<script>
  //--------------- Functions ---------------

  function getTeam() {
    var params = { wg_num : $('#team-list').val() };

    $.get('get_team', params, function(data) {
      team = data[0].psvm_workgroup;
      $('#team-name').html(team.wg_name);
      $('#wg_name').val(team.wg_name);  
      $('#wg_code').val(team.wg_code);  
      $('#wg_num').val(team.wg_num);  
    });
  }

  //--------------- Events ---------------
  
  // Select team from list
  $('#team-list').change(function() {
    getTeam();
  });

  // Create team button
  $('#create-team-btn').click(function(){
    $.get('create_team', null, function() {
      location.reload();
    });
  });

  // Delete team button
  $('#delete-team-btn').click(function(){
    
    // Get selected team
    var params = { wg_num : $('#team-list').val() };
    
    // Delete team
    $.get('delete_team', params, function(data) {
      location.reload();
    });
  });

  // Save team button
  $("#team-form").submit(function(event) {
   
    // Submit form
    event.preventDefault();
    $.post('save_team', $(this).serialize(), function() {

      // Refresh name in list
      wgnum = $('#wg_num').val();
      wgname = $('#wg_name').val();
      $('#team-list option[value="' + wgnum + '"]').text(wgname);
      $('#team-name').html(wgname);

      // Show success
      $('#save-team-btn').val('Saved!');
      window.setTimeout(function() {
        $('#save-team-btn').val('Save Team');
      }, 2000);
    });
  });

  // Select first team on page load
  $(document).ready(function() {
    $("#team-list option:first").attr('selected','selected');
    getTeam();  
  });

</script>
