<div class="plugin-fmc">

  <!-- Header -->
  <h3>FMC Payroll Export</h3> 
  <% if current_user.customer_admin? %>
    <%= link_to "Settings", plugin_fmc_settings_path, class: "settings-btn" %>
  <% end %>
  
  <!-- Content -->
  <%= render "shared/spinner" %>
  <form id="create-export" action="create_export" method="get">
    <div class="entry">
      <%= label_tag(:payperiod, "Pay Period:") %>
      <select id="payperiod" name="payperiod">
        <option selected value="0">Previous</option>
        <option          value="1">Current</option>
      </select>
    </div>
    
    <div class="entry">
      <div class="label">Period Start: </div>
      <div class="label" id="period-start"></div>
    </div>
    
    <div class="entry">
      <div class="label">Period End: </div>
      <div class="label" id="period-end"></div>
    </div>

    <br>
    <input type="submit" value="Create Export">
  </form>

  <div>a: <span id="a">&nbsp;</span> </div>
  <div>b: <span id="b">&nbsp;</span> </div>
  <div>c: <span id="c">&nbsp;</span> </div>
  <div>d: <span id="d">&nbsp;</span> </div>
  <div>e: <span id="e">&nbsp;</span> </div>
  <div>g: <span id="g">&nbsp;</span> </div>
  <div>h: <span id="h">&nbsp;</span> </div>
  <div>k: <span id="k">&nbsp;</span> </div>
  <div>n: <span id="n">&nbsp;</span> </div>
</div>  

<!-- Scripts -->
<script>

  // Default to showing previous period dates
  $('#period-start').html('<%= @prevstart %>');
  $('#period-end').html('<%= @prevend %>');

  // Change the period dates when the user selects a period
  $('#payperiod').change(function() {
    if ($(this).val() === "0")
    {
      $('#period-start').html('<%= @prevstart %>');
      $('#period-end').html('<%= @prevend %>');
    }
    else
    {
      $('#period-start').html('<%= @currstart %>');
      $('#period-end').html('<%= @currend %>'); 
    }
  });

  // Attach a submit handler to the form
  $( "#create-export" ).submit(function( event ) {
   
    // Stop form from submitting normally
    event.preventDefault();

    // Show the spinner
    $('#spinner').show();
    $('#status-msg').html('1');

    // Periodically check for status
    var a = 1.0
    var b = 1.0
    var c = 1.0
    var d = 1.0
    var e = 1.0
    var g = 1.0
    var h = 1.0
    var k = 1.0
    var n = 1.0

    $.get("status", function(data) {
        $('#h').html(h += 0.1);
        $('#n').html(data.toString());
        if (data === true)
        {
          // window.location = "finish";
          $('#k').html(data.toString());
        }
        else
        {
          $('#n').html(data.toString());
        } 
      });

    setInterval(function() {
      $('#a').html(a += 0.1);
      $.get("status", function(data) {
        $('#b').html(b += 0.1);
        $('#d').html(data.toString());
        if (data === true)
        {
          // window.location = "finish";
          $('#c').html(data.toString());
        }
        else
        {
          $('#d').html(data.toString());
        } 
      });
    }, 1000) //Time in milliseconds
   
    $('#e').html(e += 0.1);
    // Get some values from elements on the page:
    var $form = $( this ),
      payPeriod = $form.find( "input[name='payperiod']" ).val(),
      url = $form.attr( "action" );
   
    // Send the data using post
    $.get( url, { payperiod: payPeriod } );
    $('#g').html(g += 0.1);
    // // Put the results in a div
    // posting.done(function( data ) {
    //   window.location = "finish"
    //   // var content = $( data ).find( "#content" );
    //   // $( "#result" ).empty().append( content );
    // });

    
  });

</script>
