<div class="plugin-fmc">

  <!-- Header -->
  <h3>FMC Payroll Export</h3> 
  <% if current_user.customer_admin? %>
    <%= link_to "Settings", plugin_fmc_settings_path, class: "settings-btn" %>
  <% end %>
  
  <!-- Content -->
  <%= render "shared/spinner" %>
  <form id="create-export" action="create_export" method="get">
    <div class="entry">
      <%= label_tag(:payperiod, "Pay Period:") %>
      <select id="payperiod" name="payperiod">
        <option selected value="0">Previous</option>
        <option          value="1">Current</option>
      </select>
    </div>
    
    <div class="entry">
      <div class="label">Period Start: </div>
      <div class="label" id="period-start"></div>
    </div>
    
    <div class="entry">
      <div class="label">Period End: </div>
      <div class="label" id="period-end"></div>
    </div>

    <br>
    <input type="submit" value="Create Export">
  </form>

  <br>
  <div id="progress-status"></div>
  <div id="progress-bar"><div id="progress-label"></div></div>
</div>  

<!-- Scripts -->
<script>

  // Init progress bar
  var progressbar = $( "#progress-bar" );
  var progressLabel = $( "#progress-label" );
  
  progressbar.progressbar({
    value: 0,
    change: function() {
      progressLabel.text( progressbar.progressbar( "value" ) + "%" );
    },
    complete: function() {
      progressLabel.text( "Complete!" );
    }
  });

  // Default to showing previous period dates
  $('#period-start').html('<%= @prevstart %>');
  $('#period-end').html('<%= @prevend %>');

  // Change the period dates when the user selects a period
  $('#payperiod').change(function() {
    if ($(this).val() === "0")
    {
      $('#period-start').html('<%= @prevstart %>');
      $('#period-end').html('<%= @prevend %>');
    }
    else
    {
      $('#period-start').html('<%= @currstart %>');
      $('#period-end').html('<%= @currend %>'); 
    }
  });

  function poll()
  {
    $.get('progress', function(data) {

      // If job completed
      if (data === true)
      {
        // Show results
        window.location = "finish";
      }
      else if (data.status)
      {
        // Show status
        $('#progress-status').text(data.status)
        $('#progress-bar').progressbar('value', parseInt(data.progress)); 

        // If job processing
        if (data.status != '')
        {
          // Show spinner and check status again in 2 seconds
          $('#spinner').show();
          setTimeout(poll, 2000);
        }
      }
    });
  }

  // Attach a submit handler to the form
  $( "#create-export" ).submit(function( event ) {
   
    // Stop form from submitting normally
    event.preventDefault();

    // Show the spinner
    $('#spinner').show();

    // Get form inputs
    var payPeriod = $(this).find("select[name='payperiod']" ).val();

    // Send inputs and run the export
    $.get('create_export', { payperiod: payPeriod } );

    // Poll for status
    setTimeout(poll, 2000);

  });

  // Poll for status 
  // on page load
  poll();

</script>
