<div class="plugin-fmc">

  <!-- Header -->
  <h3>FMC Payroll Export</h3> 
  <% if current_user.customer_admin? %>
    <%= link_to "Settings", plugin_fmc_settings_path, class: "settings-btn" %>
  <% end %>
  
  <!-- Content -->
  <%= render "shared/spinner" %>
  <form id="create-export" action="create_export" method="get">
    <div class="entry">
      <%= label_tag(:payperiod, "Pay Period:") %>
      <select id="payperiod" name="payperiod">
        <option selected value="0">Previous</option>
        <option          value="1">Current</option>
      </select>
    </div>
    
    <div class="entry">
      <div class="label">Period Start: </div>
      <div class="label" id="period-start"></div>
    </div>
    
    <div class="entry">
      <div class="label">Period End: </div>
      <div class="label" id="period-end"></div>
    </div>

    <br>
    <input type="submit" value="Create Export">
  </form>

  <div id="status-msg"><div>
</div>  

<!-- Scripts -->
<script>


  function poll()
  {
      $('#status-msg').html('2.1');
    $.get("status", function(data) {
      $('#status-msg').html('3.1');
      if (data === true)
      {
        // window.location = "finish";
        $('#status-msg').html('finished');
      }
      else
      {
        $('#status-msg').html('5.1');
        setTimeout(function() {
          $('#status-msg').html('6.1');
          poll();
        }, 1000); //Time in milliseconds
      } 
    });
  }

  // Default to showing previous period dates
  $('#period-start').html('<%= @prevstart %>');
  $('#period-end').html('<%= @prevend %>');

  // Change the period dates when the user selects a period
  $('#payperiod').change(function() {
    if ($(this).val() === "0")
    {
      $('#period-start').html('<%= @prevstart %>');
      $('#period-end').html('<%= @prevend %>');
    }
    else
    {
      $('#period-start').html('<%= @currstart %>');
      $('#period-end').html('<%= @currend %>'); 
    }
  });

  // Attach a submit handler to the form
  $( "#create-export" ).submit(function( event ) {
   
    // Stop form from submitting normally
    event.preventDefault();

    // Show the spinner
    $('#spinner').show();

    setTimeout(function() {
      $('#status-msg').html('1.1');
      poll();
    }, 1000); //Time in milliseconds
   
    // Get some values from elements on the page:
    var $form = $( this ),
      payPeriod = $form.find( "input[name='payperiod']" ).val(),
      url = $form.attr( "action" );
   
    // Send the data using post
    $.get( url, { payperiod: payPeriod } );
    // // Put the results in a div
    // posting.done(function( data ) {
    //   window.location = "finish"
    //   // var content = $( data ).find( "#content" );
    //   // $( "#result" ).empty().append( content );
    // });

    
  });


</script>
