<div class="plugin-fmc">

  <!-- Header -->
  <h3>Settings</h3> 

  <!-- Content -->
  <%= render "shared/spinner" %>
  <%= form_for @settingsvm, url: {action: "save_settings", method: "post"} do |f| %>

    <div class="entry">
      <%= label_tag(:owner, "Applies to") %>
      <%= f.collection_select(:owner, current_user.customer.users, :id, :name, 
          include_blank: 'Default for all users') %>
    </div>

    <div class="entry">
      <%= label_tag :account %>
      <%= f.text_field :account %>
    </div>

    <div class="entry">
      <%= label_tag :username %>
      <%= f.text_field :username %>
    </div>

    <div class="entry">
      <%= label_tag :password %>
      <%= f.password_field :password, value: @settingsvm.password %>
    </div>

    <div class="entry">
      <span>Include unmapped pay designations</span>&nbsp;
      <%= f.check_box :includeunmapped %>
    </div>

    <br>
    <div class="entry">
      <%= f.hidden_field :paycodemappings %>
      <table id="payCodeMappings" class="pay-code-mappings">
        <thead>
          <tr>
            <th>Pay Des. Num</th>
            <th>Wg3</th>
            <th>Pay Code</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% JSON.parse(@settingsvm.paycodemappings ||= '[]').each do |mapping| %>
            <tr>
              <td><%= mapping[0] %></td>
              <td><%= mapping[1] %></td>
              <td><%= mapping[2] %></td>
              <td><a class="button edit" href="">Edit</a></td>
              <td><a class="button delete" href="">Delete</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>
    <div id="saveButton" class="save-button" value="Save Settings">
      Save Settings
    </div>
  <% end %>
</div>

<script>
  
$(document).ready(function() {
  var nEditing = null;
  var oTable = $('#payCodeMappings').dataTable({
    "sScrollY": "300px",
    "sScrollX": "100%",
    "bScrollCollapse": true,
    "bPaginate": false,
    "sLength": false,
    "bFilter": false,
    "bJQueryUI": true,
    "aoColumns": [
        { "sWidth": "25%" },
        { "sWidth": "25%" },
        { "sWidth": "25%" },
        { "sWidth": "12%", "sClass": "column-header", "bSortable": false },
        { "sWidth": "12%", "sClass": "column-header", "bSortable": false },
    ],
    "bAutoWidth": false
  });

  function editRow ( oTable, nRow )
  {
    var aData = oTable.fnGetData(nRow);
    var jqTds = $('>td', nRow);
    jqTds[0].innerHTML = '<input type="text" value="'+aData[0]+'">';
    jqTds[1].innerHTML = '<input type="text" value="'+aData[1]+'">';
    jqTds[2].innerHTML = '<input type="text" value="'+aData[2]+'">';
    jqTds[3].innerHTML = '<a class="button edit" href="">Save</a>';
    jqTds[4].innerHTML = '<div class="disabled-button delete" href="">Delete</div>';
  }

  function saveRow ( oTable, nRow )
  {
    var jqInputs = $('input', nRow);
    oTable.fnUpdate( jqInputs[0].value, nRow, 0, false );
    oTable.fnUpdate( jqInputs[1].value, nRow, 1, false );
    oTable.fnUpdate( jqInputs[2].value, nRow, 2, false );
    oTable.fnUpdate( '<a class="button edit" href="">Edit</a>', nRow, 3, false );
    oTable.fnUpdate( '<a class="button delete" href="">Delete</a>', nRow, 4, false );
    // oTable.fnDraw();  // Uncomment if you want rows sorted again after save
  }
  
  // Serialize the pay code mappings table to settingsvm.paycodemappings
  // then submit form
  $('#saveButton').click(function() {
    var data = oTable.fnGetData();
    for (var i = 0; i < data.length; i++)
    {
      // Remove last two columns from row (html- edit and delete cols)
      var row = data[i];
      if (row.length >= 5)
      {
        row.pop();
        row.pop();
      }
    }
    $('#plugin_fmc_settings_vm_paycodemappings').val(JSON.stringify(data));
    $('#new_plugin_fmc_settings_vm').submit();
  });

  $(document).on( "click", "#payCodeMappings a.edit", function (e) {
    e.preventDefault();
     
    /* Get the row as a parent of the link that was clicked on */
    var nRow = $(this).parents('tr')[0];
     
    if ( nEditing !== null && nEditing != nRow ) {
        /* A different row is being edited - the edit should be 
           saved and this row edited */
        saveRow( oTable, nEditing );
        editRow( oTable, nRow );
        nEditing = nRow;
    }
    else if ( nEditing == nRow && this.innerHTML == "Save" ) {
        /* This row is being edited and should be saved */
        saveRow( oTable, nEditing );
        nEditing = null;
    }
    else {
        /* No row currently being edited */
        editRow( oTable, nRow );
        nEditing = nRow;
    }
  });

  $(document).on( "click", "#payCodeMappings a.delete", function (e) {
    e.preventDefault();
     
    var nRow = $(this).parents('tr')[0];
    oTable.fnDeleteRow( nRow );
  });

  // Create your own pay code mappings header
  $('.fg-toolbar').first().html(
    '<div class="left-group">Pay Code Mappings</div>' + 
    '<div class="right-group">' + 
    '  <div id="newRowBtn" class="button">Add Mapping</div>' + 
    '</div>'
    );

  $('#newRowBtn').click( function (e) {
    e.preventDefault();

    // If we're editing a row, save it
    if ( nEditing !== null ) {
        saveRow( oTable, nEditing );
        nEditing = null; }

    // Create a new row with default data in it
    var aiNew = oTable.fnAddData( [ 
        '1', 
        '2', 
        '3', 
        '<a class="button edit" href="">Edit</a>', 
        '<a class="button delete" href="">Delete</a>' ] );
    var nRow = oTable.fnGetNodes( aiNew[0] );
    editRow( oTable, nRow );
    nEditing = nRow;

    $(".dataTables_scrollBody").animate({scrollTop: $("tr").last().offset().top},0);
  });

});

</script>