<!DOCTYPE html>
<html>
<head>
  <title>NewAuth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<div class="wrapper">
	<h3><%= link_to "NewAuth", root_path, id: "logo" %></h3>
	<nav class="nav">
		<% if user_signed_in? %>
		  <% if current_user.is_admin? %>
		    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %><%= link_to "Edit profile", edit_user_registration_path %><%= link_to "Admin", rails_admin_path %>
			<% else %>
			  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %><%= link_to "Edit profile", edit_user_registration_path %>
			<% end %>
		<% else %>
			<%= link_to "Sign up", new_user_registration_path %><%= link_to "Sign in", new_user_session_path %>
		<% end %>
	</nav>
	</div>
</header>

<div class="flash wrapper">
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
</div>

<div class="content wrapper">
	<%= yield %>
</div>
	<% if user_signed_in? %>
	<div id="footer"
		<span class="user">You are signed in as <a href="#"><%= current_user.name %></a>.  Not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></span>
	</div>
	<% end %>
</body>
</html>
